
@import url(candyfrost-lite.less);

@bodyfont: 'Roboto', arial, sans-serif;

html, body {
    height: 100%;
    min-width: 950px;
}

.page {
    position: relative;
    height: 100%;
}

.fuber-logo {
    font-weight: bold;
    font-size: 24px;
    color: #ccc;
}

.panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 350px;
    border-right: #eee solid 5px;
    overflow: scroll;

    [data-panel-page] {
        display: none;
    }
}

.back-wrapper {
    padding: 0 !important; 
    margin-bottom: 15px;
}

.back-to-main {
    display: block;
    text-decoration: none;
    background-color: @link-color;
    padding: 15px;
    color: #fff;

    &:hover {
        color: #fff;
        background-color: @link-color-light;
    }
}

.section {
    .s-title {
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 15px;
    }
    .s-content {
        margin-bottom: 15px;
    }
}

.customers {
    margin-bottom: 15px;
}

.a-item {
    .cf;
    margin-bottom: 15px;
}

.a-title {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.a-input {
    input, button, .button, label {
        display: block;
        float: left;
    }
    &.combo-1 {
        input {
            text-align: right;
            width: 80px;
        }
        input, button, .button, label {
            margin-right: 10px;
        }
    }
    &.combo-2 {
        input {
            width: 100%;
        }
        input, button, .button, label {
            display: block;
            clear: left;
            float: left;
            margin-bottom: 10px;
        }
    }
}

.customer {
    position: relative;
    margin: 0 -15px;
    border-bottom: #ddd solid 1px;

    .user {
        display: block;
        color: #000;
        text-decoration: none;
        margin-right: 30px;
        padding: 10px 15px;
        min-height: 58px;

        &:hover {
            color: #000;
            background-color: #eee;
            border-bottom-color: transparent;
        }

        .u-status {
            font-size: 14px;
            color: @grey;

            &.active {
                color: @green;
            }
        }

        &.current {
            background-color: @link-color;
            color: #fff;

            .u-status {
                color: lighten(@link-color, 30%);

                &.active {
                    color: #0f3;
                }
            }
        }
    }

    .user-remove {
        display: block;
        color: #000;
        text-decoration: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 30px;
        min-height: 58px;
        padding: 10px 0;
        text-align: center;

        &:hover {
            color: #fff;
            background-color: lighten(#f30, 20%);
            border-bottom-color: transparent;
        }
    }
}

.map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 600px;
    margin-left: 350px;

    background-color: #f6f6f6;

    .grid {
        background-color: transparent;
        background-image: 
            linear-gradient(
                0deg, 
                transparent 24%, 
                rgba(4, 4, 4, .05) 25%, 
                rgba(4, 4, 4, .05) 26%, 
                transparent 27%, 
                transparent 74%, 
                rgba(4, 4, 4, .05) 75%, 
                rgba(4, 4, 4, .05) 76%, 
                transparent 77%, 
                transparent
            ), 
            linear-gradient(
                90deg, 
                transparent 24%, 
                rgba(4, 4, 4, .05) 25%, 
                rgba(4, 4, 4, .05) 26%, 
                transparent 27%, 
                transparent 74%, 
                rgba(4, 4, 4, .05) 75%, 
                rgba(4, 4, 4, .05) 76%, 
                transparent 77%, 
                transparent);
        height:100%;
        background-size:50px 50px;
    }

    .info-layer {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin-left: -5px;

        background-color: @yellow;
        padding: 15px;
        padding-right: 45px;
        border-left: darken(@yellow, 13%) solid 5px;

        &.error {
            background-color: @red;
            color: #fff;
            border-left-color: darken(@red, 13%);
        }

        .clear-message {
            display: block;
            position: absolute;
            color: #000;
            top: 0;
            right: 0;
            bottom: 0;
            width: 30px;
            text-align: center;
            line-height: 30px;

            &:hover {
                background-color: darken(@yellow, 10%);
            }
        }
    }

    .item-layer {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;

        .action-layer {
            position: relative;
            height: 100%;
        }

        .car, .location {
            position: absolute;
            width: 0;
            height: 0;
            margin-left: -10px;
            margin-top: -10px;
            border-radius: 50px;

            &:hover {
                border-width: 12px;
                margin-left: -12px;
                margin-top: -12px;
            }

            &.current {
                padding: 4px;
                background-color: #fff;
                border-width: 6px;

                &:hover {
                    border-width: 8px;
                }
            }
        }

        .car {
            border: @black solid 10px;

            &.pink {
                border-color: @pink;
            }
        }

        .location {
            border: @green solid 10px;
        }
    }
}

.props {
    padding: 15px 0;
    margin-bottom: 15px;
    font-family: monospace;
    font-size: 14px;

    .prop-name {
        &:after {
            content: ': ';
        }
    }

    .prop-val {
        font-weight: bold;
    }
}














