<div class="panel">
    <div class="container-wrapper" data-panel-main>
        <div class="row">
            <div class="col">
                <div class="section">
                    <div class="fuber-logo">F&uuml;ber</div>
                </div>
            </div>
            <div class="col">
                <div class="section">
                    <div class="s-title">Select Customer</div>
                    <div class="s-content">
                        <div class="customers" data-users>
                            <!-- // -->
                        </div>
                        <div class="a-item">
                            <div class="a-title">Add Customer</div>
                            <div class="a-input combo-2">
                                <input name="new-user" placeholder="username (no spaces)" value="" autocomplete="off">
                                <button class="" data-add-user>Add User</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="section">
                    <div class="s-title">Manage Cars</div>
                    <div class="s-content">
                        <div class="a-item">
                            <div class="a-title">Add Cars</div>
                            <div class="a-input combo-1">
                                <input name="new-cars" value="3">
                                <button class="" data-add-cars>Add Cars</button>
                            </div>
                        </div>
                        <div class="a-item">
                            <div class="a-title">Delete Cars</div>
                            <div class="a-input combo-1">
                                <button class="red" data-delete-cars>Delete All Cars</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // -->
        </div>
    </div>
    <div class="container-wrapper" data-panel-page>
        <div class="row">
            <div class="col back-wrapper">
                <a class="back-to-main" data-show-main>&larr; Back</a>
            </div>
            <div class="col">
                <div class="section">
                    <div class="s-title" data-pp-title></div>
                    <div class="s-content" data-pp-content></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="map">
    <div class="grid"></div>
    <div class="item-layer">
        <div class="action-layer" data-cars></div>
    </div>
    <div class="info-layer">
        <div data-error></div>
        <div data-message></div>
        <a class="clear-message" data-clear-message>&times;</a>
    </div>
</div>



